@-webkit-keyframes slide {
    0% { top: 0%; left: 0;}
    12.5% {top: 0%; left: 0;}
    17.9999% {top: 0%; left: 0;}

    18% {top: -100%; left: 0;}
    49.9999% {top: -100%; left: 0; }

    50% {top: -200%; left: 0; }
    79.9999% {top: -200%; left: 0;}

    80% {top: -300%; left: 0;}
    100% {top: -300%; left: 0;}
}