@font-face {
    font-family: 'amble';
    src: url('../lib/fonts/amble-bold-webfont.eot');
    src: url('../lib/fonts/amble-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/amble-bold-webfont.woff') format('woff'),
         url('../lib/fonts/amble-bold-webfont.ttf') format('truetype'),
         url('../lib/fonts/amble-bold-webfont.svg#amblebold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'amble';
    src: url('../lib/fonts/amble-regular-webfont.eot');
    src: url('../lib/fonts/amble-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/amble-regular-webfont.woff') format('woff'),
         url('../lib/fonts/amble-regular-webfont.ttf') format('truetype'),
         url('../lib/fonts/amble-regular-webfont.svg#ambleregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pacificoregular';
    src: url('../lib/fonts/pacifico-webfont.eot');
    src: url('../lib/fonts/pacifico-webfont.eot?#iefix') format('embedded-opentype'),
         url('../lib/fonts/pacifico-webfont.woff') format('woff'),
         url('../lib/fonts/pacifico-webfont.ttf') format('truetype'),
         url('../lib/fonts/pacifico-webfont.svg#pacificoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}