body {
  font-family: "amble";
  background: #f8f8f9;
}
ol {
  margin-left: 0;
  margin-bottom: 20px;
}
ol li {
  list-style: none;
  margin-bottom: 10px;
  /*some style are set through jquery*/

}
ol li span.eq {
  font-size: 13px;
  font-weight: bold;
  font-style: italic;
  color: #1f2f62;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 2px solid #1f2f62;
  padding: 2px 7px;
  margin-right: 10px;
}
.jspDrag {
  background: #1f2f62;
  width: 3px;
}
.jspTrack {
  background: #f8f8f9;
}
.alignleft {
  margin-right: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.alignright {
  margin-left: 50px;
  margin-bottom: 30px;
}
.ipad {
  display: none;
}
a[data-type='popover'] {
  cursor: pointer;
}
.popover {
  width: 266px;
}
.popover-title {
  background: none;
  border: none;
  color: #1f2f62;
  text-align: center;
  padding-bottom: 0;
  padding-top: 25px;
}
.popover-content {
  font-size: 12px;
  line-height: 1.45;
  padding: 10px 20px 20px;
}
.button {
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  /*background: #2f93d2 ;*/

  background: url(../images/button-sprite.png) no-repeat;
  background-position: 0px 0px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  position: relative;
  height: 40px;
  line-height: 40px;
  text-align: center;
  max-width: 268px;
  width: 100%;
  display: inline-block;
  /*
	&:before,
	&:after{
		content:' ';
		position: absolute;
		background: url(../images/sprite.png);
		width:24px;
		height:40px;
		top: 0;
	}
	&:before{
		background-position: top left;
		left: -24px;
	}
	&:after{
		background-position: top right;
		right: -24px;
	}
	*/

}
.button span {
  display: inline-block;
  line-height: 40px;
  height: 40px;
}
.button span:after {
  content: ' ';
  position: absolute;
  background: url(../images/button-sprite.png) no-repeat;
  background-position: -244px 0px;
  width: 24px;
  height: 40px;
  top: 0;
  right: 0px;
}
.button:hover {
  background-position: 0px -40px;
  text-decoration: none;
  color: #fff;
}
.button:hover span:after {
  background-position: -244px -40px;
}
.button-white {
  background-position: -271px 0px;
}
.button-white span:after {
  background-position: -512px 0px;
  width: 24px;
  height: 40px;
  top: 0;
  right: 0px;
}
.button-white:hover {
  background-position: -271px -40px;
}
.button-white:hover span:after {
  background-position: -512px -40px;
}
hr {
  border-top-color: #e3e3e3;
  border-bottom: none;
}
#header {
  background-color: #1f2f62;
  width: 330px;
  min-height: 100%;
  min-width: 187px;
  top: 0px;
  position: fixed;
  z-index: 12;
  box-shadow: 10px 0 51px rgba(0, 0, 0, 0.25);
  -webkit-transition: left 0.4s ease-in;
  left: -350px;
}
#header.show {
  left: 0;
}
#nav-toggle {
  background: url(../images/nav-control.png) no-repeat;
  width: 43px;
  height: 41px;
  margin-top: 20px;
  border: 1px solid #ccc;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  right: -60px;
  position: absolute;
  top: 0px;
  box-shadow: 10px 0 51px rgba(0, 0, 0, 0.25);
}
#site-logo {
  margin-left: 150px;
  margin-bottom: 50px;
  margin-top: 60px;
}
#access {
  position: relative;
  font-family: "amble";
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin-left: 150px;
}
#access .sf-menu {
  float: none;
}
#access li {
  float: none;
  background: none;
  padding: 10px 0;
}
#access a {
  font-size: 16px;
  color: #fff;
  border: none;
  background: none !important;
  padding-left: 0;
  padding-bottom: 0;
}
#access a:hover {
  color: #2361ac;
}
#access .current-menu-item a,
#access a.active {
  color: #2f93d2;
  text-decoration: underline;
}
#left-notch {
  position: absolute;
  right: 0;
  top: 0;
}
#left-notch .top {
  position: fixed;
  background: #1f2f62;
  width: 16px;
  height: 900px;
  margin-top: -900px;
}
#left-notch .notch {
  background: url(../images/notch-nav.png) no-repeat;
  height: 26px;
  width: 16px;
  position: absolute;
}
#left-notch .bottom {
  position: fixed;
  background: #1f2f62;
  width: 16px;
  height: 1500px;
  margin-top: 26px;
}
#main {
  margin-left: 330px;
  overflow: hidden;
  position: relative;
  width: auto;
}
#main.full {
  width: 100%;
  margin-left: 0;
}
#slider {
  color: #fff;
  position: relative;
  z-index: 1;
  font-size: 40px;
  max-height: 650px;
}
#slider h2 {
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  font-size: 100%;
  top: 50%;
  margin-top: -78px;
  width: 100%;
  line-height: 1.2;
  z-index: 5;
  letter-spacing: 0.28em;
  transition: all 0.2s linear;
}
#slider h2 span {
  font-size: 90px;
  font-family: 'pacificoregular';
  text-transform: lowercase;
  letter-spacing: normal;
  position: relative;
  font-weight: normal;
}
#slider h2 span:after {
  content: ' ';
  position: absolute;
  bottom: 34px;
  height: 7px;
  width: 100%;
  left: 0;
  background: #ffffff;
}
#slider #images {
  margin: 0;
  width: 100%;
}
#slider #images li {
  position: absolute;
  width: 100%;
  max-height: 650px;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
}
#slider #images img {
  width: 100%;
}
#content {
  text-align: center;
  width: 100%;
  margin-top: -5px;
  position: relative;
  background: #f8f8f9;
  padding: 20px;
  min-height: 150px;
  box-shadow: 0 -20px 51px rgba(0, 0, 0, 0.25);
  z-index: 2;
}
#content strong {
  font-size: 21px;
  color: #1f2f62;
}
#content h2 {
  font-family: 'pacificoregular';
  font-size: 58px;
  color: #1f2f62;
}
#content p {
  font-size: 15px;
  color: #6e7173;
  margin-bottom: 30px;
}
#content p a {
  color: #2f93d2;
  text-decoration: underline;
  white-space: nowrap;
}
#content .container {
  max-width: 757px;
  width: 90%;
}
#content .button {
  color: #fff;
  text-decoration: none;
  display: inline-block;
}
#notch-content {
  background: url(../images/notch-main.png) no-repeat;
  transition: all 0.2s linear;
  position: absolute;
  height: 19px;
  top: -19px;
  width: 27px;
  z-index: 9;
  left: 50%;
  margin-left: -13px;
}
#notch-content:before,
#notch-content:after {
  content: ' ';
  position: absolute;
  background: #f8f8f9;
  width: 1200px;
  height: 19px;
  left: 0;
}
#notch-content:before {
  margin-left: -1200px;
}
#notch-content:after {
  margin-left: 27px;
}
.home #content h2 {
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.3em;
  font-size: 21px;
  font-family: "amble";
  margin-bottom: 40px;
}
.home #content span {
  font-family: 'pacificoregular';
  text-transform: lowercase;
  letter-spacing: normal;
  position: relative;
  text-transform: none;
  font-weight: normal;
  font-size: 58px;
}
.home #content span:after {
  content: ' ';
  position: absolute;
  bottom: 34px;
  height: 7px;
  width: 100%;
  left: 0;
  background: #1f2f62;
}
.home #content span:after {
  bottom: 10px;
  height: 3px;
}
.home #content p {
  width: 90%;
  max-width: 530px;
  margin-left: auto;
  margin-right: auto;
}
#social {
  width: 183px;
  height: 64px;
  line-height: 64px;
  position: absolute;
  right: 0;
  top: 10px;
  background: url(../images/social-bg.png) no-repeat;
  z-index: 2;
}
#social span {
  font-size: 14px;
  color: #1f2f62;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin-left: 45px;
  margin-right: 10px;
}
#social .tw,
#social .fb {
  background: url(../images/sprite-social.png) no-repeat #2f93d2;
  height: 24px;
  width: 24px;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  top: 6px;
  position: relative;
  margin-left: 3px;
}
#social .tw:hover,
#social .fb:hover {
  background-color: #2361ac;
}
#social .fb {
  background-position: -23px center;
}
#social .tw {
  background-position: 6px center;
}
.page #main header {
  text-align: center;
  color: #1f2f62;
  height: 277px;
  padding-top: 60px;
  padding-bottom: 60px;
  background: #fff;
  width: 100%;
}
.page #main header h2 {
  font-family: 'pacificoregular';
  font-size: 58px;
  font-weight: normal;
  text-transform: lowercase;
  margin-bottom: 30px;
}
.page #main header small {
  font-family: "amble";
  font-size: 21px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  line-height: 1.5;
  max-width: 605px;
  width: 90%;
  display: inline-block;
}
.page #main #content {
  text-align: left;
  padding-top: 50px;
}
.page #main #content .container {
  max-width: 765px;
}
.page #main #content img.alignleft,
.page #main #content img.alignright {
  width: 46%;
}
.page #main #content img.alignleft {
  margin-right: 6.5%;
}
.page #main #content img.alignright {
  margin-left: 4%;
}
.page #main hr.mobile {
  margin-top: 60px;
  margin-bottom: 65px;
}
.page-template-page-contact-php #main #content {
  text-align: center;
}
.page-template-page-contact-php h3 {
  font-weight: normal;
  text-transform: uppercase;
  color: #1f2f62;
  font-size: 21px;
  letter-spacing: 0.3em;
  margin-bottom: 10px;
  line-height: 1.4;
}
.page-template-page-contact-php h3 span {
  font-size: 58px;
  font-family: 'pacificoregular';
  text-transform: lowercase;
  letter-spacing: normal;
  position: relative;
}
.page-template-page-contact-php h3 span:after {
  content: ' ';
  position: absolute;
  bottom: 34px;
  height: 7px;
  width: 100%;
  left: 0;
  background: #1f2f62;
}
.page-template-page-contact-php h3 span:after {
  bottom: 14px;
  height: 3px;
}
.page-template-page-contact-php p {
  margin-top: 20px;
  font-size: 15px;
  color: #6e7173;
}
.page-template-page-contact-php .phone-number {
  font-size: 34px;
  color: #6e7173;
  margin-top: 10px;
  font-weight: bold;
  margin-bottom: 30px;
}
.page-template-page-contact-php .phone-number.mobile {
  display: none;
}
.page-template-page-contact-php .button {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 14px;
  letter-spacing: 0.4em;
}
.page-template-page-contact-php em {
  font-size: 15px;
}
.page-template-page-contact-php .one_half {
  line-height: 1.5;
}
.page-template-page-contact-php .one_half.last {
  border-left: 1px solid #e3e3e3;
  width: 270px;
  padding-left: 40px;
}
.page-template-page-contact-php .one_half.last a.link {
  color: inherit !important;
  text-decoration: none !important;
}
.close-detail {
  overflow: hidden;
  text-indent: -999px;
  background: url(../images/close-modal.png) no-repeat;
  width: 73px;
  height: 70px;
  position: fixed;
  top: 7px;
  right: -73px;
  transition: all 0.2s linear;
  opacity: 0;
  z-index: 11;
}
#mobile-details,
#products-details {
  display: none;
}
.page-template-page-products-php #main.full #products-thumb {
  padding-left: 0;
}
.page-template-page-products-php #products-thumb {
  background: #cbcbcb;
  padding-left: 16px;
  position: relative;
  z-index: 11;
  box-shadow: 0 -5px 30px rgba(0, 0, 0, 0.25);
}
.page-template-page-products-php #products-thumb .entry {
  width: 33.3%;
  position: relative;
  z-index: 10;
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 1px solid #b0b0b0;
  border-bottom: 1px solid #b0b0b0;
  overflow: hidden;
}
.page-template-page-products-php #products-thumb .entry:hover .thumb img {
  -webkit-transform: scale(1.1);
}
.page-template-page-products-php #products-thumb .entry.active {
  z-index: 11;
}
.page-template-page-products-php #products-thumb .entry.active a {
  border: 6px solid #2f93d2;
  width: 98%;
  height: 96%;
}
.page-template-page-products-php #products-thumb .entry.active:before {
  background: url(../images/product-arrow.png) no-repeat center;
  content: ' ';
  position: absolute;
  height: 16px;
  width: 100%;
  top: -16px;
}
.page-template-page-products-php #products-thumb .entry .thumb img {
  width: 100%;
  cursor: pointer;
  transition: all 0.2s linear;
}
.page-template-page-products-php #products-thumb .entry a {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.page-template-page-products-php #products-thumb .entry h3 {
  position: absolute;
  bottom: 0;
  font-size: 16px;
  color: #1f2f62;
  text-transform: uppercase;
  font-weight: normal;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.3em;
}
.page-template-page-products-php #products-thumb .entry a:hover h3 {
  color: #2f93d2;
}
.page-template-page-products-php #products-details {
  transition: all 0.2s linear;
  position: relative;
}
.page-template-page-products-php #products-details .entry {
  display: none;
}
.page-template-page-products-php #products-details .entry .image {
  position: relative;
  float: left;
  width: 66.66666666666666%;
  overflow: hidden;
}
.page-template-page-products-php #products-details .entry .image img {
  width: 100%;
}
.page-template-page-products-php #products-details .entry .image .hover {
  position: absolute;
  opacity: 0;
  top: -300%;
  cursor: pointer;
}
.page-template-page-products-php #products-details .entry .image:hover .hover {
  -webkit-animation-name: slide;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-timing-function: linear;
  opacity: 1;
}
.page-template-page-products-php #products-details .entry .image strong {
  position: absolute;
  bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  color: #1f2f62;
}
.page-template-page-products-php #products-details .entry .details {
  position: absolute;
  top: 0;
  right: 0;
  width: 33.3333333333%;
  bottom: 0;
  font-size: 13px;
  color: #6e7173;
  overflow: hidden;
}
.page-template-page-products-php #products-details .entry .details h3 {
  font-size: 15px;
  color: #1f2f62;
  letter-spacing: 0.3em;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 25px;
  margin-top: 65px;
  margin-left: 20px;
  margin-right: 20px;
  white-space: nowrap;
}
.page-template-page-products-php #products-details .entry .details h3 span {
  display: block;
  font-family: 'pacificoregular';
  text-transform: lowercase;
  letter-spacing: normal;
  position: relative;
  font-size: 40px;
  text-transform: capitalize;
  font-weight: normal;
}
.page-template-page-products-php #products-details .entry .details h3 span:after {
  content: ' ';
  position: absolute;
  bottom: 34px;
  height: 7px;
  width: 100%;
  left: 0;
  background: #1f2f62;
}
.page-template-page-products-php #products-details .entry .details h3 span:after {
  height: 2px;
  bottom: -8px;
}
.page-template-page-products-php #products-details .entry .details h4 {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-weight: normal;
  margin-bottom: 15px;
  color: #1f2f62;
}
.page-template-page-products-php #products-details .entry .details div.basic-info {
  overflow-y: auto;
  position: absolute;
  top: 160px;
  left: 20px;
  right: 20px;
  bottom: 60px;
}
.page-template-page-products-php #products-details .entry .details div.basic-info ol {
  margin-top: 5px;
}
.page-template-page-products-php #products-details .entry .details h3 {
  font-size: 15px;
  color: #1f2f62;
  letter-spacing: 0.3em;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 25px;
}
.page-template-page-products-php #products-details .entry .details h3 span {
  display: block;
  font-family: 'pacificoregular';
  text-transform: lowercase;
  letter-spacing: normal;
  position: relative;
  font-size: 40px;
  text-transform: capitalize;
  font-weight: normal;
}
.page-template-page-products-php #products-details .entry .details h3 span:after {
  content: ' ';
  position: absolute;
  bottom: 34px;
  height: 7px;
  width: 100%;
  left: 0;
  background: #1f2f62;
}
.page-template-page-products-php #products-details .entry .details h3 span:after {
  height: 2px;
  bottom: -8px;
}
.page-template-page-products-php #products-details .entry .details h4 {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-weight: normal;
  margin-bottom: 15px;
  color: #1f2f62;
}
.page-template-page-products-php #products-details .entry .details .more-info-button {
  position: absolute;
  bottom: 10px;
  left: 20px;
  right: 20px;
  text-align: center;
  margin: 0;
}
.page-template-page-products-php #products-details .entry .details div.more-info {
  transition: all 0.2s linear;
  top: 1300px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: absolute;
  background: #f8f8f9;
  opacity: 0;
}
.page-template-page-products-php #products-details .entry .details div.more-info .content {
  position: absolute;
  top: 45px;
  left: 20px;
  right: 20px;
  bottom: 5px;
  overflow-y: auto;
}
.page-template-page-products-php #products-details .entry .details div.more-info .content p {
  margin: 15px 0px 0px;
}
.page-template-page-products-php #products-details .entry .details div.more-info p {
  margin: 0px 20px;
}
.page-template-page-products-php #products-details .entry .details p {
  margin-bottom: 20px;
}
#mobile-details {
  transition: all 0.2s linear;
}
#mobile-details img {
  width: 100%;
}
#mobile-details .entry {
  display: none;
}
#mobile-details .product-name {
  font-size: 15px;
  color: #1f2f62;
  letter-spacing: 0.3em;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 25px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#mobile-details .product-name span {
  display: block;
  font-family: 'pacificoregular';
  text-transform: lowercase;
  letter-spacing: normal;
  position: relative;
  font-size: 40px;
  text-transform: capitalize;
  font-weight: normal;
}
#mobile-details .product-name span:after {
  content: ' ';
  position: absolute;
  bottom: 34px;
  height: 7px;
  width: 100%;
  left: 0;
  background: #1f2f62;
}
#mobile-details .product-name span:after {
  height: 2px;
  bottom: -8px;
}
#mobile-details .details {
  margin-top: 25px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#mobile-details .details .content p {
  margin-bottom: 20px;
}
#map-canvas {
  height: 100%;
}
#gmap {
  height: 600px;
}
#map-locator {
  cursor: pointer;
  background: url(../images/map-toggle-sprite.png);
  background-position: top;
  width: 66px;
  height: 40px;
  position: absolute;
  top: 20px;
  right: 0px;
  z-index: 9;
}
#map-locator.html5 {
  background-position: bottom;
}
.full #content.centerme {
  margin-left: 0;
}
#content.centerme {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.page-template-default #main.full #content {
  padding-right: 0;
  width: 100%;
  padding-left: 0;
}
.ie9 #products-thumb .entry a {
  background: rgba(0, 0, 0, 0);
}
.ie8 #products-thumb .entry a {
  background: url(../images/blank.gif);
}
/* Bootstrap Css Map Fix*/
#mainBody #map img,
#map-canvas img {
  max-width: none !important;
}
/* Bootstrap Css Map Fix*/
#mainBody #map label {
  width: auto;
  display: inline;
}
#map-canvas .gmnoprint div[title="Click to zoom"] img {
  background: rgba(0, 0, 0, 0.1);
}
#map-canvas .gmnoprint {
  right: 20px!important;
  bottom: 255px !important;
}
