@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    .ipad {
        display: block;
    }
    .ipad-hide {
        display: none;
    }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
    .ipad {
        display: block;
    }
    .ipad-hide {
        display: none;
    }
}


/* Large desktop */
@media (min-width: 1200px) { 

}



@media (max-width: 1062px) {
    .page-template-page-products-php #products-thumb .entry {
        width:50%;
    }
    .page-template-page-products-php #products-details .entry .image {
        width: 100%;
        float: none;
    }
    .page-template-page-products-php #products-details .entry .details {
        width: 90%;
        margin: auto;
        float: none;
        position: relative;
        height: 470px;
        min-width: 320px;
    }
    .page-template-page-products-php #products-details .entry .details h3 {
        margin-top: 50px;
    }
    .page-template-page-products-php #products-details .entry .details div.basic-info {
        width: 350px;
    }

    #slider h2{ font-size: 60%; margin-top:-57px; }
    #slider h2 span{font-size: 300%;}
    #slider h2 span:after{ bottom: 18%; height: 5%; }
    .page-template-default #main #content,
    .home #main #content{
        padding-right: 0;
        width: auto;
        float: none;
    }
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
	.one_half, .one_half.last{ width:100%; }
	.one_half.last{border-bottom: 1px solid #eee; padding-left: 0;}
	body{
		padding: 0;
	}
	#access a{ font-size: 15px; }
	#site-logo,
	#access{
		width: auto;
		float: none;
		margin-left: 25px;
	}
	#header{
		left: -203px;	
		width:188px;
        /*-webkit-transform:translate3d(0,0,0);*/
	}	
	#mobile-nav-toggle{
        display: block;
    }
    #header #left-notch
    {
        opacity: 0;
    }
    #header.show #left-notch
    {
        opacity: 100;
    }
	#main{
		width: 100% !important;
		float: none;
		margin-left: 0 !important;
	}
	#content{
		padding: 5%;
		padding-bottom: 50px;
		float: none;
		margin: auto;
		width:90%;
	}
	.page #content{width: 90%;}
	.page-template-page-products-php #products-thumb{
		padding-left: 0;
	}

	.page-template-page-contact-php #gmap{ height: 300px; }
	.page-template-page-contact-php .one_half.last{
		border-left: none;
		border-top: 1px solid #e3e3e3;
		width:100%;
		padding-left: 0;
		border-bottom: none;
	}
	.page-template-default #main #content,
	.home #main #content {
		width: auto;
		padding-left: 0;
		padding-right: 0;
	}
	.page #main header{
		height: 230px;
		padding-top: 30px;
		padding-bottom: 50px;
	}
	.phone-number{display: none;}
	.page-template-page-contact-php .phone-number.mobile{display: block;}
	#map-canvas .gmnoprint{display: none !important;}

}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
	#content p{font-size: 14px;}
	hr.mobile{display: block;}
	#social{display: none;}
	#slider h2{ font-size: 14px; line-height: 1.6;}
	#slider h2 span{font-size: 34px;}
	#slider h2 span:after{height:2px; bottom: 10px;}

	#content h2{font-size: 14px;}
	.home #content span{font-size: 39px;}

	#content p{font-size: 16px;line-height: 1.5;}

	.page #main header h2{ font-size: 43px; }
	.page #main header small{ font-size: 15px; }

	.page-template-page-contact-php #gmap{ height: 220px; }

	.page-template-page-contact-php h3{font-size: 14px;}
	.page-template-page-contact-php h3 span{font-size: 39px;}
	
	.page #main #content img.alignleft, .page #main #content img.alignright{
		width: 100%;
		margin-right: 0;
		margin-left: 0;
	}
	.page #main header{
		height: 150px;
		padding-top: 20px;
		padding-bottom: 40px;
	}
    .page-template-page-products-php #products-thumb .entry {
        width:100%;
    }


}
/*
 @media (max-width: 1030px) {
 	.page-template-page-products-php #products-thumb .entry{ width:50%;}
 }

 @media (max-width: 850px) {
 	.page-template-page-products-php #products-thumb .entry{ width:100%;}
 }
 */

