/* GENERAL RULE ==========================================================*/
body{ -webkit-font-smoothing:antialiased }
.alignright{
	float:right;
	margin-left:16px;
	margin-bottom:16px;
}
.alignleft{
	float:left;
	margin-right:16px;
	margin-bottom:16px;
}
article h2{font-size: 20px;line-height: inherit; }
#content{float: left; width:640px;}
code{
	display: block;
	white-space: normal;
}

.no-featured-image{
	background: #333;
	border: 1px solid #333;
	color:#aaa;
	font-weight: bold;
	text-shadow: 1px 1px 0px #000;
	font-size: 18px;
	text-decoration: none !important;
	text-align: center;
	line-height: 100px;
}

.clear{
	clear:both;
}
.vcenter
{
	position: relative;
	/*WebKit (Chrome & Safari)*/
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	/*Firefox*/
	display: -moz-box;
	-moz-box-pack: center;
	-moz-box-align: center;
	/*IE*/
	display: -ms-box;
	-ms-box-pack: center;
	-ms-box-align: center;
	/*Native CSS*/
	display: box;
	box-pack: center;
	box-align: center;
}

/* WIDGET > TF Ads ==========================================================*/
#sidebar .widget-container .ads_125x125{margin-left:0;}
#sidebar .widget-container .ads_125x125 li{
	background:url(images/ads_125x125.png) no-repeat;
	width:125px;
	height:125px;
	display:inline-block;
	padding: 0 0 4px 0;
}


/* WIDGET > TF Recent Posts ==========================================================*/
.tf_recent_posts li{
	background:none !important;
	padding-left:0 !important;
	border-bottom:none !important;
}
.tf_recent_posts img{
	border:1px solid #fff;
	box-shadow:0px 0px 2px #000;
	float: left;
	margin-right: 10px;
}
.tf_recent_posts .title{
	font-weight:bold;
	margin-bottom:3px;
	line-height: 1.3;
}

/* WIDGET > TF Contact Info ==========================================================*/
.tf_contact_info li{
	border-bottom:none !important;
	padding-left:20px !important;
	padding-bottom:0 !important;
	margin-left:5px !important;
	list-style:none !important;
}
.tf_contact_info .mobile{
	background:url(../img/mobile.png) no-repeat 0px 6px !important;	
}
.tf_contact_info .mail{
	background:url(../img/mail.png) no-repeat 0px 6px !important;
}
.tf_contact_info .address{
	background:url(../img/address.png) no-repeat 0px 6px !important;
}

/* WIDGET > TF Contact Us ==========================================================*/
.tf_contact_us li{
	background:none !important;
	padding:0 !important;
	border: none !important;
}
.tf_contact_us textarea{
	height:90px;
}

/* PAGE TEMPLATES > Blog Left Sidebar ==============================================*/
.blog-left-sidebar #sidebar{float: left;}
.blog-right-sidebar #sidebar{float: right;}
.page-template-page-blog-php #main .entry-thumb{float: left; margin-right: 10px;}
.page-template-page-blog-php #main {padding-top:40px;}
.page-template-page-blog-php #main .entry-content{
	margin-top: 10px; 
}
.entry-content{font-size: 12px;}
.page-template-page-blog-php #main article{margin-bottom: 10px;}

/* > Full Width --------------------------------------------------------------------*/
.page-template-page-full-php #content, .page-template-page-products-php #content{
	width: auto;
	float: none;
}